In [1]:
import pandas as pd

In [2]:
# Load the dataset
data = pd.read_csv('ecommerce_data.csv')
print(data)

      order_id  customer_id     customer_name  product_id product_name  \
0            1          211   Christine Giles         293         Dark
1            2          905        Amy Mendez         288           Up
2            3          542     Kristy Bailey         265       Course
3            4          738       Juan Arnold         252        Phone
4            5          864     Taylor Barker         219         Body
...        ...          ...               ...         ...          ...
9995      9996          868     Michael Huang         244          NaN
9996      9997          423       Brooke Pena         264        Exist
9997      9998          745      Grace Atkins         203   Experience
9998      9999          943  Annette Hamilton         279        Level
9999     10000          220   Benjamin Wright         215      Provide

     product_category      payment_type  qty   price          datetime  \
0          Stationery            Wallet    9   49.32  2024-01-07 19:19
1               Books              Card    6  964.57  2024-02-24 03:29
2               Books              Card    8  743.25  2024-02-05 18:22
3               Books               UPI    7  433.70  2024-06-21 14:49
4            Clothing  Internet Banking    4  821.24  2024-05-16 21:45
...               ...               ...  ...     ...               ...
9995            Books  Internet Banking    8  690.36  2024-02-08 03:38
9996       Stationery  Internet Banking   10  571.90  2024-01-18 08:22
9997      Electronics  Internet Banking    2  137.97  2024-02-10 12:56
9998            Books            Wallet    3  510.46  2024-01-25 21:03
9999      Electronics            Wallet    1  263.87  2024-02-11 17:15

      country        city ecommerce_website_name payment_txn_id  \
0         USA     Houston       www.tatacliq.com       cf144965
1         USA     Chicago            www.ebay.in       170bb9ea
2     Germany   Frankfurt       www.snapdeal.com       7b94c130
3          UK  Birmingham       www.tatacliq.com       39afcf00
4         USA     Chicago       www.snapdeal.com       07ebeeb6
...       ...         ...                    ...            ...
9995       UK       Leeds         www.amazon.com       d6a0ce98
9996  Germany   Stuttgart       www.snapdeal.com       097d5d30
9997       UK  Manchester            www.ebay.in       16ee69d0
9998       UK       Leeds            www.ebay.in       6c1d334f
9999       UK  Manchester       www.tatacliq.com       03fb695d

     payment_txn_success failure_reason
0                      N   Blocked Card
1                      N   Card Expired
2                      Y            NaN
3                      Y            NaN
4                      Y            NaN
...                  ...            ...
9995                   N   Blocked Card
9996                   N   Card Expired
9997                   N   Blocked Card
9998                   Y            NaN
9999                   Y            NaN

[10000 rows x 16 columns]

In [3]:
# First, calculate the total revenue for each country and product category
data['revenue'] = data['qty'] * data['price']  # Ensure revenue is calculated
total_revenue = data.groupby(['country', 'product_category'])['revenue'].sum().unstack()

# Find the top-selling category per country based on revenue
top_categories = total_revenue.idxmax(axis=1)

# Get the total revenue of the top-selling category per country
top_revenue = total_revenue.max(axis=1)

# Format revenue as currency (with $ symbol)
top_revenue_formatted = top_revenue.apply(lambda x: f"${x:,.2f}")

# Combine the top-selling category with its total revenue
top_categories_revenue = pd.DataFrame({
    'Top Selling Category': top_categories,
    'Total Revenue': top_revenue_formatted
})

# Sort by total revenue in descending order
top_categories_revenue_sorted = top_categories_revenue.sort_values(by='Total Revenue', ascending=False, key=lambda x: top_revenue)

print("Top Selling Category Per Country with Total Revenue (Sorted by Revenue):")
print(top_categories_revenue_sorted)

Top Selling Category Per Country with Total Revenue (Sorted by Revenue):
        Top Selling Category  Total Revenue
country
USA               Stationery  $1,609,026.03
India                  Books  $1,530,295.33
UK                      Toys  $1,462,403.14
Germany             Clothing  $1,427,551.99

In [4]:
# Product Popularity Change Throughout the Year Per Country
data['month'] = pd.to_datetime(data['datetime']).dt.month

# Group by 'country', 'month', and 'product_category' and sum the 'qty' (quantity)
popularity_trends = data.groupby(['country', 'month', 'product_category'])['qty'].sum().unstack()

# Print the result
print("Product Popularity Change Throughout the Year Per Country (by Quantity):")
print(popularity_trends)

Product Popularity Change Throughout the Year Per Country (by Quantity):
product_category  Books  Clothing  Electronics  Stationery  Toys
country month
Germany 1           188       192          232         177   226
        2           253       220          271         236   152
        3           265       236          283         188   239
        4           222       276          220         239   234
        5           160       287          221         312   212
        6           145       261          211         240   222
        7           247       283          208         229   160
        8           242       183          239         196   195
        9           249       247          158         159   234
        10          181       202          239         278   146
        11          299       218          170         247   235
        12          144       247          259         251   168
India   1           318       304          224         181   203
        2           264       194          232         177   228
        3           292       173          266         228   279
        4           183       157          168         270   206
        5           379       256          217         244   326
        6           208       234          316         230   207
        7           246       222          268         241   277
        8           192       211          194         225   269
        9           235       197          244         219   240
        10          208       224          219         238   205
        11          242       160          135         232   216
        12          219       222          295         289   301
UK      1           293       239          187         266   287
        2           231       241          248         217   209
        3           241       210          219         220   247
        4           181       263          121         203   176
        5           290       306          208         188   254
        6           217       259          258         253   193
        7           254       247          215         170   249
        8           176       210          258         286   238
        9           194       232          286         184   240
        10          220       199          189         196   263
        11          218       209          179         301   215
        12          254       234          226         256   317
USA     1           255       194          198         266   231
        2           247       242          217         252   210
        3           236       289          213         371   326
        4           245       260          191         225   210
        5           180       184          206         221   196
        6           229       261          210         267   227
        7           268       216          211         173   288
        8           267       262          251         234   342
        9           223       257          201         243   150
        10          232       194          322         280   239
        11          243       240          203         178   292
        12          328       206          259         243   163

In [5]:
# Locations with the Highest Traffic of Sales
high_traffic_cities = data['city'].value_counts().head(10)
print("Locations with Highest Traffic of Sales:")
print(high_traffic_cities)

Locations with Highest Traffic of Sales:
city
Kolkata       542
Chicago       530
New York      527
Houston       516
Manchester    516
London        515
Delhi         514
Hamburg       506
Oxford        506
Berlin        506
Name: count, dtype: int64

In [6]:
# Times with the Highest Traffic of Sales Per Country

# Set display options to avoid truncation
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Ensure wide DataFrames are not wrapped
pd.set_option('display.max_colwidth', None)  # Display entire content of each column

data['hour'] = pd.to_datetime(data['datetime']).dt.hour
traffic_by_time = data.groupby(['country', 'hour']).size().unstack()
print("Times with Highest Traffic of Sales Per Country:")
print(traffic_by_time)

Times with Highest Traffic of Sales Per Country:
hour      0    1    2    3    4    5    6    7    8    9    10   11   12   13  \
country
Germany   88  102   85  105  110  104   99  101   95  101   93   69  106  124
India    105  102   85   99  116   84  116  106   97  105  115  107  111   98
UK        96  112  109   96  104  110  110  118  102   98  111  109  107  108
USA      128  113  111  107  111  100  104  114   95  101  110  124  101  107

hour      14   15   16   17   18   19  20   21   22   23
country
Germany  108  104  106   97  109   94  91  107   98  114
India    108   94  106  107  110  120  92  107   95  111
UK       105  110  114  114  116   89  86  104   93  103
USA      112  105  125   98   96   92  90  117  103  106