In [1]:
import pandas as pd

In [2]:
# Load the dataset
data = pd.read_csv('ecommerce_data.csv')
print(data)

      order_id  customer_id      customer_name  product_id product_name  \
0            1          137     Brandon Ortega         263    Determine
1            2          366  Linda Jackson DDS         248      Clearly
2            3          697      Bradley James         287       Simply
3            4          224      Samantha Vega         288            A
4            5          679        Lauren Boyd         237     Analysis
...        ...          ...                ...         ...          ...
9995      9996          389       Jake Pittman         241         Upon
9996      9997          831     Melissa Guerra         249         Life
9997      9998          116  Mackenzie Roberts         203          Any
9998      9999          388  Joseph Hutchinson         217       Always
9999     10000          143  Stephanie Goodwin         255        Skill

     product_category      payment_type  qty   price          datetime  \
0            Clothing  Internet Banking    7  459.64  2023-10-03 22:27
1               Books              Card   10  319.60  2024-03-20 08:43
2         Electronics               UPI    6  221.97  2024-04-14 09:48
3          Stationery            Wallet    2  900.27  2024-09-13 03:30
4                Toys              Card    3  950.21  2024-01-08 03:56
...               ...               ...  ...     ...               ...
9995      Electronics            Wallet   10  205.26  2023-10-14 12:26
9996             Toys               UPI    3  308.42  2024-08-24 07:34
9997         Clothing            Wallet    1  689.10  2024-07-16 19:23
9998         Clothing            Wallet    2  531.82  2024-03-24 06:06
9999            Books              Card    6   41.79  2024-06-16 18:57

      country        city ecommerce_website_name payment_txn_id  \
0     Germany      Munich       www.flipkart.com       a8c98e06
1       India     Kolkata       www.flipkart.com       8228f9a7
2       India       Delhi         www.amazon.com       ae326907
3          UK  Manchester            www.ebay.in       8ab4b616
4     Germany      Munich       www.snapdeal.com       a15e22fc
...       ...         ...                    ...            ...
9995       UK       Leeds       www.tatacliq.com       f07bdce4
9996    India   Bengaluru       www.flipkart.com       f5af3620
9997    India       Delhi       www.snapdeal.com       30834eb1
9998  Germany   Frankfurt       www.tatacliq.com       6ef08ab1
9999       UK      London         www.amazon.com       7f2d8939

     payment_txn_success       failure_reason
0                      Y                  NaN
1                      N         Blocked Card
2                      N  Transaction Timeout
3                      Y                  NaN
4                      N  Transaction Timeout
...                  ...                  ...
9995                   Y                  NaN
9996                   N         Card Expired
9997                   N  Transaction Timeout
9998                   N  Transaction Timeout
9999                   N         Blocked Card

[10000 rows x 16 columns]

In [3]:
# Display the first few rows
print(data.head())

   order_id  customer_id      customer_name  product_id product_name  \
0         1          137     Brandon Ortega         263    Determine
1         2          366  Linda Jackson DDS         248      Clearly
2         3          697      Bradley James         287       Simply
3         4          224      Samantha Vega         288            A
4         5          679        Lauren Boyd         237     Analysis

  product_category      payment_type  qty   price          datetime  country  \
0         Clothing  Internet Banking    7  459.64  2023-10-03 22:27  Germany
1            Books              Card   10  319.60  2024-03-20 08:43    India
2      Electronics               UPI    6  221.97  2024-04-14 09:48    India
3       Stationery            Wallet    2  900.27  2024-09-13 03:30       UK
4             Toys              Card    3  950.21  2024-01-08 03:56  Germany

         city ecommerce_website_name payment_txn_id payment_txn_success  \
0      Munich       www.flipkart.com       a8c98e06                   Y
1     Kolkata       www.flipkart.com       8228f9a7                   N
2       Delhi         www.amazon.com       ae326907                   N
3  Manchester            www.ebay.in       8ab4b616                   Y
4      Munich       www.snapdeal.com       a15e22fc                   N

        failure_reason
0                  NaN
1         Blocked Card
2  Transaction Timeout
3                  NaN
4  Transaction Timeout

In [4]:
# Display the data types and missing values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                10000 non-null  int64
 1   customer_id             10000 non-null  int64
 2   customer_name           10000 non-null  object
 3   product_id              10000 non-null  int64
 4   product_name            9985 non-null   object
 5   product_category        10000 non-null  object
 6   payment_type            10000 non-null  object
 7   qty                     10000 non-null  int64
 8   price                   10000 non-null  float64
 9   datetime                10000 non-null  object
 10  country                 10000 non-null  object
 11  city                    10000 non-null  object
 12  ecommerce_website_name  10000 non-null  object
 13  payment_txn_id          10000 non-null  object
 14  payment_txn_success     10000 non-null  object
 15  failure_reason          4930 non-null   object
dtypes: float64(1), int64(4), object(11)
memory usage: 1.2+ MB
None

In [5]:
# Summary statistics for numerical columns
print(data.describe())

          order_id   customer_id    product_id           qty         price
count  10000.00000  10000.000000  10000.000000  10000.000000  10000.000000
mean    5000.50000    549.497900    249.397900      5.485300    498.706145
std     2886.89568    260.337794     28.731358      2.877153    288.866360
min        1.00000    100.000000    200.000000      1.000000      5.340000
25%     2500.75000    320.000000    224.000000      3.000000    247.255000
50%     5000.50000    550.500000    249.000000      5.000000    493.760000
75%     7500.25000    774.000000    274.000000      8.000000    748.352500
max    10000.00000    999.000000    299.000000     10.000000    999.980000

In [6]:
# checking the data types of each column
print(data.dtypes)

order_id                    int64
customer_id                 int64
customer_name              object
product_id                  int64
product_name               object
product_category           object
payment_type               object
qty                         int64
price                     float64
datetime                   object
country                    object
city                       object
ecommerce_website_name     object
payment_txn_id             object
payment_txn_success        object
failure_reason             object
dtype: object

In [7]:
# Check for missing values
print(data.isnull().sum())

order_id                     0
customer_id                  0
customer_name                0
product_id                   0
product_name                15
product_category             0
payment_type                 0
qty                          0
price                        0
datetime                     0
country                      0
city                         0
ecommerce_website_name       0
payment_txn_id               0
payment_txn_success          0
failure_reason            5070
dtype: int64

In [8]:
#Filling the null values 
data = data.assign(product_name = data['product_name'].fillna('Unknown Product'))
print("Inserted the values for product nulls")

Inserted the values for product nulls

In [9]:
condition = (data['payment_txn_success'] == 'Y') & (data['failure_reason'].isnull())
data.loc[condition, 'failure_reason'] = 'Payment_successful'
print("Inserted the values for successful payment nulls")

Inserted the values for successful payment nulls

In [10]:
print(data.head())

   order_id  customer_id      customer_name  product_id product_name  \
0         1          137     Brandon Ortega         263    Determine
1         2          366  Linda Jackson DDS         248      Clearly
2         3          697      Bradley James         287       Simply
3         4          224      Samantha Vega         288            A
4         5          679        Lauren Boyd         237     Analysis

  product_category      payment_type  qty   price          datetime  country  \
0         Clothing  Internet Banking    7  459.64  2023-10-03 22:27  Germany
1            Books              Card   10  319.60  2024-03-20 08:43    India
2      Electronics               UPI    6  221.97  2024-04-14 09:48    India
3       Stationery            Wallet    2  900.27  2024-09-13 03:30       UK
4             Toys              Card    3  950.21  2024-01-08 03:56  Germany

         city ecommerce_website_name payment_txn_id payment_txn_success  \
0      Munich       www.flipkart.com       a8c98e06                   Y
1     Kolkata       www.flipkart.com       8228f9a7                   N
2       Delhi         www.amazon.com       ae326907                   N
3  Manchester            www.ebay.in       8ab4b616                   Y
4      Munich       www.snapdeal.com       a15e22fc                   N

        failure_reason
0   Payment_successful
1         Blocked Card
2  Transaction Timeout
3   Payment_successful
4  Transaction Timeout

In [11]:
# Check for missing values
print(data.isnull().sum())

order_id                  0
customer_id               0
customer_name             0
product_id                0
product_name              0
product_category          0
payment_type              0
qty                       0
price                     0
datetime                  0
country                   0
city                      0
ecommerce_website_name    0
payment_txn_id            0
payment_txn_success       0
failure_reason            0
dtype: int64

In [12]:
# Check for duplicates
print(data.duplicated().sum())

0